<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flix Master Movie App</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/flatly.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>

    @RenderBody()
    
</body>
</html>