@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1>Welcome to FlixMaster</h1>
    <button>@Html.ActionLink("See all Showings", "Index", "Showings")</button>
    <button>@Html.ActionLink("See all Movies", "Index", "Movies")</button>
</div>

